.conteudo {
    background: blue;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    margin: 10px;
    float: left;

}
/*.conteudo1 {
    background: red;
    border: 1px solid gray;
    width: 150px;
    height: 250px;
    margin: 10px;
    float: left;

}*/
.clear {
    clear: both;
}
#principal {
    border: 1px solid red;
}